body {
  margin: 0;
  background-color: rgb(231, 105, 105);
  font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
  font-size: 10px;
}

h4 {
text-align: center;
margin: 1.5rem auto 0 auto;
background-color: black;
border-radius: 1rem;
width: fit-content;
color: white;
padding: .5rem;
}

.nugget {
  position: absolute;
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.currency-item {
  width: 35px;
  height: 35px;
  cursor: pointer;  
}

.currency-grid {
  display: grid;
  grid-template-columns: repeat(5, 40px);
  column-gap: 3rem;
  row-gap: 2.5rem;
  justify-content: center;
  justify-items: center;
  grid-auto-rows: minmax(35px, 40px);
  margin-top: 3rem;
}

.left-side {
  width: 500px;
  height: 600px;
  background-color: aliceblue;
  margin-left: 6rem;
  margin-top: 6rem;
  border: 3px solid black;
  border-radius: 1rem;
}

.disable-click {
  pointer-events: none;
}

h2 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0;
}

/* .currency-grid {
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 10px;
  grid-template-columns: repeat(8, 92px);
  grid-auto-rows: minmax(180px, auto);
  justify-content: center;
  justify-items: center;
} */


/* ASSIGNMENT 1 ADD INS another css toggle (can be darkmode), user input field (enter name, render it on screen, difficulty mode?), header, footer, instructions for the game in its current state*/
